nav{
    height: 100px;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.navholder{
    width: 95%;
}

li{
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        color:   white ;
    }

    span{
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid white;
        height: 35px;
        width: 80%;
    }
}


ul{
    height: 280px;
    background-color: black;
}

.sectioncontent-1{
    height: fit-content;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}


.section-1{
    width: 100%; 
    background-color: black;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;   
}


.spinningskullholder{
    display: flex;

    width: 96%;


    .spinningskull{
        width: max-content;
        height: max-content;
        display: flex;
        .pdiv{
            
            display: flex;
            align-items: flex-end;
            
            
        }

    }
}

.section-3{
    margin-top: 250px;
}


.section-4{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    width: fit-content;
    svg{
        height: 70px;
        transform: rotate(90deg);
    }
    .s4h{
        display: flex;
        justify-content: center;
        align-items: center;
        p{font-size: 55px;}
        padding: 100px 0;
    }
    .s4points{
        
        display: flex;
        gap: 100px;
        
        justify-content: space-around;
        .s4point{
            .s4svgdiv{width: 100%;}
            width: 220px;
            .pointh{font-size: 110px; width: 100%;}
            .pointp{font-size: 25px;}
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }
    .s4buttondiv{
        margin-top: 100px;
        display: flex;
        width: fit-content;
        gap: 20px;
        height: fit-content;
        align-items: center;
        justify-content: center;
        height: 150px;
        p{
            font-size: 24px;
        }
        flex-wrap: wrap;
    }

}


html{
    scroll-behavior: smooth;
}

.BurgerMenuItems{
    p{a{
        color: white;
    }}
}

.ShareIcons{
    svg{
        height: 20px;
    }
    
    display: flex;
    gap: 40px;
}