@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@media only screen and (min-width: 730px) {
  .BurgerMenu {
    display: none;
  }
  .BurgerMenuItems {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  h1 {
    font-size: 130px;
    font-weight: normal;
  }
  h5 {
    font-size: 24px;
    font-weight: normal;
  }
  .sectionregister1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #635cfb;
    color: white;
    border: none;
    border-radius: 10px;
    width: 160px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
  }
  .section-1 {
    width: 100vw;
    background-color: black;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-2 {
    width: 100vw;
    background-color: black;
    height: 10000px;
  }
  .spinningskullholder {
    justify-content: flex-end;
  }
  .gallery {
    display: flex;
    height: 1000px;
    justify-content: space-evenly;
    align-items: center;
  }
  .gallery .picturecentral {
    height: 1000px;
    width: 45%;
    position: relative;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .gallery .picturecentral .pictures img {
    position: absolute;
  }
  .gallery .picturecentral .pictures .img1 {
    right: 250px;
  }
  .gallery .picturecentral .pictures .img2 {
    right: 0px;
    top: 350px;
  }
  .gallery .picturecentral .pictures .img3 {
    right: 300px;
    top: 700px;
  }
  .gallery .textdiv {
    height: 1000px;
    width: 45%;
    display: flex;
    align-items: center;
  }
  .gallery .textdiv .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .gallery .textdiv .text .p1 {
    font-size: 55px;
  }
  .gallery .textdiv .text .p2 {
    font-size: 28px;
  }
  .gallery .textdiv .text .p3 {
    line-height: 30px;
  }
}
@media only screen and (max-width: 730px) {
  .BurgerMenuItems {
    display: none;
  }
  .BurgerMenu {
    display: flex;
    right: 22.5px;
    top: 22.5px;
    height: 55px;
    width: 55px;
    justify-content: center;
    align-items: center;
  }
  .burgersvg {
    height: 50px;
    width: 50px;
  }
  button {
    background-color: inherit;
    border: none;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  h1 {
    font-size: 80px;
    font-weight: normal;
  }
  h5 {
    font-size: 24px;
    font-weight: normal;
  }
  .sectioncontent-1 {
    height: fit-content;
    width: 95vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .sectionregister1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #635cfb;
    color: white;
    border: none;
    border-radius: 10px;
    width: 160px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
  }
  .section-2 {
    width: 100vw;
    background-color: black;
    height: 10600px;
  }
  .spinningskullholder {
    justify-content: center;
  }
  .textdiv {
    height: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1500px;
  }
  .textdiv .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .textdiv .text .p1 {
    font-size: 55px;
  }
  .textdiv .text .p2 {
    font-size: 28px;
  }
  .textdiv .text .p3 {
    line-height: 30px;
  }
}
@media only screen and (max-width: 1300px) {
  .gallery {
    flex-direction: column;
    display: flex;
    height: 1000px;
    justify-content: center;
    align-items: center;
  }
  .gallery .picturecentral {
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .gallery .picturecentral .pictures {
    height: 100%;
    width: 580px;
    position: relative;
  }
  .gallery .picturecentral .pictures img {
    position: absolute;
  }
  .gallery .picturecentral .pictures .img1 {
    right: 250px;
  }
  .gallery .picturecentral .pictures .img2 {
    right: 0px;
    top: 350px;
  }
  .gallery .picturecentral .pictures .img3 {
    right: 300px;
    top: 700px;
  }
  .gallery .textdiv {
    height: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1800px;
  }
  .gallery .textdiv .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .gallery .textdiv .text .p1 {
    font-size: 55px;
  }
  .gallery .textdiv .text .p2 {
    font-size: 28px;
  }
  .gallery .textdiv .text .p3 {
    line-height: 30px;
  }
}
@media only screen and (max-width: 1035px) {
  h1 {
    font-size: 120px;
    font-weight: normal;
  }
  .spinningskullholder {
    justify-content: center;
  }
}
@media only screen and (max-width: 950px) {
  h1 {
    font-size: 110px;
    font-weight: normal;
  }
  .spinningskullholder {
    justify-content: center;
  }
}
@media only screen and (max-width: 875px) {
  h1 {
    font-size: 100px;
    font-weight: normal;
  }
  .spinningskullholder {
    justify-content: center;
  }
}
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 90px;
    font-weight: normal;
  }
  .spinningskull img {
    height: 400px;
  }
  .spinningskullholder {
    justify-content: center;
  }
}
@media only screen and (max-width: 715px) {
  h1 {
    font-size: 80px;
    font-weight: normal;
  }
  .spinningskull img {
    height: 300px;
  }
  .spinningskullholder {
    justify-content: center;
  }
}
@media only screen and (max-width: 640px) {
  h1 {
    font-size: 70px;
    font-weight: normal;
  }
  .spinningskullholder {
    justify-content: center;
  }
}
@media only screen and (max-width: 560px) {
  h1 {
    font-size: 60px;
    font-weight: normal;
  }
  .spinningskullholder {
    justify-content: center;
  }
}
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 50px;
    font-weight: normal;
  }
  .spinningskullholder {
    justify-content: center;
  }
}
@media only screen and (max-width: 400px) {
  h1 {
    font-size: 40px;
    font-weight: normal;
  }
  h5 {
    font-size: 18px;
    font-weight: normal;
  }
  .spinningskullholder {
    justify-content: flex-start;
  }
  .spinningskullholder .spinningskull img {
    height: 250px;
    width: 250px;
  }
  .spinningskullholder .spinningskull p {
    font-size: 12px;
  }
  .spinningskullholder {
    justify-content: center;
  }
}
@media only screen and (max-width: 320px) {
  h1 {
    font-size: 32px;
    font-weight: normal;
  }
  .spinningskullholder {
    justify-content: center;
  }
}
@media only screen and (max-width: 250px) {
  h1 {
    font-size: 30px;
    font-weight: normal;
  }
}
nav {
  height: 100px;
  background-color: black;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navholder {
  width: 95%;
}

li {
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
li a {
  color: white;
}
li span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  height: 35px;
  width: 80%;
}

ul {
  height: 280px;
  background-color: black;
}

.sectioncontent-1 {
  height: fit-content;
  width: 95vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-1 {
  width: 100vw;
  background-color: black;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}

.spinningskullholder {
  display: flex;
  width: 96%;
}
.spinningskullholder .spinningskull {
  width: max-content;
  height: max-content;
  display: flex;
}
.spinningskullholder .spinningskull .pdiv {
  display: flex;
  align-items: flex-end;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

p, .mg, li {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.navholder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.BurgerMenu {
  position: absolute;
}

.RegisterB {
  height: 50px;
  width: 150px;
  font-size: 18px;
  background-color: black;
  border: 1px solid white;
  border-radius: 20px;
}

.RegisterA {
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

h1, h5 {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
}

.LoginA {
  color: #a37df6;
}

.Buzzthrough {
  font-size: 24px;
}

#myList {
  display: none;
  animation-name: transition;
  animation-duration: 2s;
}

@keyframes transition {
  from {
    margin-top: -250px;
  }
  to {
    margin-top: 0px;
  }
}
.sectionregister1 a {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
